*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(32, 28, 28);
    color: aliceblue;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.HREF{
    text-decoration: none;
    color: #fff;
}

.HREF:hover{
    text-decoration: underline;
}
