@charset "UTF-8";

:root {
    --Verde: #49a09d;
    --Lilás: #5f2c82;
}

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Lilás);
    height: 100vh;
    width: 100vw;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.474);
    overflow: hidden;


    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

.login .imagem {
    display: block;
    background: var(--Lilás) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

.formulario {
    display: block;
    padding: 10px;
}

.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

.formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--Lilás);
    border: 2px solid var(--Lilás);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #53aaa7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #6cd3cf;
}

form > a.botao > i{
    font-size: 0.8em;
}
